@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@custom-variant dark (
  &:where(.dark, [data-theme="dark"], .dark *)
);

html, body {
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
  padding: 0%;
}
/* @theme {
  @keyframes loop-scroll {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
  }

  --animate-loop-scroll: loop-scroll 30s linear infinite;

  
  --color-textc: #1A0011;             
  --color-backgroundc: #F6F8FA;      
  --color-secondaryc: #D0D7DE;        
  --color-accentc: #60F885;          
  --color-section1: #7ADAA5;         
  --color-section2: #E5E7EB;          
  --color-section3: #FFFFFF;        
  
  --font-heading:"Audiowide", sans-serif;
  --font-body: "Roboto Mono", monospace;
}

.dark {
  --color-textc: #DEDDDC;             
  --color-backgroundc: #232626;       
  --color-secondaryc: #2B2F30;       
  --color-accentc: #60F885;          
  --color-section1: #111414;          
  --color-section2: #141818;         
  --color-section3: #191D1D; 
} */
 @theme {
  @keyframes loop-scroll {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
  }

  --animate-loop-scroll: loop-scroll 30s linear infinite;


  --color-textc: #0D1B2A;            
  --color-backgroundc: #F5F8FC;      
  --color-secondaryc: #D6E4F0;       
  --color-accentc: #4EA8DE;         
  --color-section1: #A9D6E5;         
  --color-section2: #E9F1F7;         
  --color-section3: #FFFFFF;         
  
  --font-heading: "Audiowide", sans-serif;
  --font-body: "Roboto Mono", monospace;
}


.dark {
  --color-textc: #E2E8F0;            
  --color-backgroundc: #0B132B;      
  --color-secondaryc: #1C2541;        
  --color-accentc: #4EA8DE;          
  --color-section1: #1B263B;         
  --color-section2: #141E30;        
  --color-section3: #192734;        
}


:root, html, body {
  color: var(--color-textc);
  background-color: var(--color-backgroundc);
  font-family: var(--font-body);
}



h1 {
  font-family: var(--font-heading);
}
p{
  font-family: var(--font-body);
}



.custom-shape-divider-top-1762207414 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1762207414 svg {
    position: relative;
    display: block;
    width: calc(174% + 1.3px);
    height: 80px;
}

.custom-shape-divider-top-1762207414 .shape-fill {
    fill: var(--color-backgroundc);
}






