@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@custom-variant dark (
  &:where(.dark, [data-theme="dark"], .dark *)
);

html, body {
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
  padding: 0%;
}
@theme {
  @keyframes loop-scroll {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
  }

  --animate-loop-scroll: loop-scroll 30s linear infinite;

  /* ===== LIGHT THEME ===== */
  --color-textc: #1A0011;             /* Deep neutral text for contrast */
  --color-backgroundc: #F6F8FA;       /* Soft white-gray for comfort */
  --color-primaryc: #222831;          /* Deep gray-blue for structure (nav/buttons) */
  --color-secondaryc: #D0D7DE;        /* Muted gray for cards/borders */
  --color-accentc: #60F885;           /* Neon green accent (consistent identity) */
  --color-section1: #A8FBD3;          /* Slight green tint background section */
  --color-section2: #E5E7EB;          /* Soft neutral blue-white contrast section */
  --color-section3: #FFFFFF;          /* Plain clean white section */
  
  --font-heading: "Playfair Display", serif;
  --font-body: "Roboto", sans-serif;
}

/* ===== DARK THEME ===== */
.dark {
  --color-textc: #DEDDDC;             /* Soft light gray for readability */
  --color-backgroundc: #232626;       /* Deep near-black background */
  --color-primaryc: #171B1C;          /* Slightly lighter for cards/nav */
  --color-secondaryc: #2B2F30;        /* Mid-tone neutral for dividers/panels */
  --color-accentc: #60F885;           /* Consistent neon accent */
  --color-section1: #111414;          /* Base dark section */
  --color-section2: #141818;          /* Slight contrast section */
  --color-section3: #191D1D; 
  --color-test: #aff4c7;     /* Layered card contrast */
}

:root, html, body {
  color: var(--color-textc);
  background-color: var(--color-backgroundc);
  font-family: var(--font-body);
}



h1, h2 {
  font-family: var(--font-heading);
}
p{
  font-family: var(--font-body);
}











